<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
        footer{
            position:absolute;
            color: #ffffff;
            bottom:0;
            width:100%;
            height:100px;
            line-height:100px;
            text-align:center;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<section id="sayHello"> hello </section>
<section id="chat">
    <a href="/work/base/chat">留言</a>
</section>

<footer>
    <a href="https://beian.miit.gov.cn/" target="_blank">皖ICP备19014701号-1</a>
</footer>

</body>
</html>